
* { 
    font-family: 'Glory', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*separa os elementos em suas caixas*/
}

body {
    height: 130vh; /*força o programa a reconhecer toda a tela*/

    background: linear-gradient( #845EC2, #FF9671);

}    

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 45px;
}

img {
    width: 90px;
    height: auto;
    border-radius: 100%;
}

header img {
    width: 100px;
    height: auto;
    border-radius: 100%;
}

header ul {
    display: flex;
    border: 2px  dashed rgb(210, 191, 216);
    
    
}

header ul li {
    padding: 5px;
}

a {
    transition: 300ms;
}

a:hover {
    color:rgb(135, 26, 150);
    text-decoration: underline;
}

#flex {
    display: flex;
    justify-content: center;
}

#flex div {
    
    /*border: 1px solid #000;*/
    margin: 15px;
    flex-basis: 100%;
    border-radius: 20px;
    background-color: rgb(236, 173, 231);
    padding: 30px;
    max-width: 280px;  
}

#flex div p {
    font-family: 'Glory', sans-serif;
    font-size: 18px;
}


#about p {
    font-size: 20px;
    margin: 0px 400px 0px 400px;  
}

a {
    text-decoration: none;
    color: rgb(192, 75, 196);
}

li a{
    color: rgb(206, 145, 229)
}

ul {
    list-style: none;
    font-style: italic;
    color: rgb(206, 121, 231) 
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 50px;
    color: rgb(210, 191, 216)
}

.container .name h5 {
    font-size: 20px;
    color: rgb(210, 191, 216)

}

#arrow {
    font-size: 30px;
    cursor: pointer;
    animation: blink 2s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation {
    transition: 300ms;
}


.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    display: flex !important;
}

.inactive {
    display: none !important;
}

.form {
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
}

/* Bom costume colocar a responsividade no final */

@media only screen and (max-width: 768px) {
    .form{
        width: 100%;
    }
}



/* Boa prática para representar outros tamanhos de telas */
@media only screen and (max-width: 1030px) {

    body {
        height: 200vh;
    } 

    .container .name h1 {
        font-size: 34px;
    }

    #flex{
        flex-direction:column;
        align-items: center;
    }
    
    .container .name h5 {
        font-size: 17px;
    }
    
    .flex div p {
        max-width: 90%;  
    }

    #about p {
        font-size: 17px;
        margin: 0px 20px 0px 20px;  
    }
}

    @media only screen and (max-width: 480px) {

    body {
        height: 150vh;
    } 

    header ul {
        font-size: 13px;
    }
    
}

